@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #e4e4e4;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(56, 56, 56);
  background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgb(41, 41, 41) 100%);
}

.root {
  display: flex;
}

header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383838;
  padding-left: 1rem;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  letter-spacing: -1px;
  transition: color 0.5s ease;
}

.header-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
}

.column {
  width: 300px;
  height: fit-content;
  background-color: #383838;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  transition: height 0.5s ease;
}

.column-title {
  margin: 8px 3px 13px 3px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.path {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
  color: #13a9b7;
  transition: opacity 0.5s ease;
  opacity: 0;
}

h2:hover+.path {
  opacity: 1;
}

.column-title h2 {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
  transition: color 0.4s ease;
}

.title-edit-input {
  font-family: "Kanit", sans-serif;
  width: 200px;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0px;
  height: 29px;
  margin: 0 !important;
  box-shadow: none;
  text-align: center;
  text-transform: uppercase;
}

.title-edit-input:focus {
  margin: 0 !important;
  height: 29px;
  background-color: transparent;
  box-shadow: none;
  color: #858585;
}

.add-icon {
  position: absolute;
  top: 5px;
  right: 13px;
}

.add-icon svg {
  width: 18px;
  height: 18px;
}

.column-edit-button {
  display: flex;
  align-items: center;
}

.column-edit-button svg {
  margin: 0;
  opacity: 0;
}

.w13 {
  width: 13px;
}

.edit-title-icon {
  position: absolute;
  top: 5px;
  left: 10px;
}

.edit-title-icon svg {
  width: 18px;
  height: 18px;
}

.column-title:hover .column-edit-button svg {
  opacity: 1;
}

.column-title-link:hover {
  color: #777777;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-card {
  border-radius: 5px;
  background-color: #212121;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  box-shadow: 0 0 4px 1px #212121;
  position: relative;
}

.todo-card h3 {
  font-size: 1.1rem;
  font-weight: 200;
  color: white;
}

.p-content-div p {
  margin: 2px 0 6px 0;
  font-size: 0.8rem;
  color: #9f9f9f;
}

.card-footer p {
  font-size: 0.7rem;
  color: #9f9f9f;
  margin: 0.2rem 0 0 0;
}

.card-footer {
  position: relative;
}

.p-content-div {
  border-bottom: 1px solid rgb(159, 159, 159, 0.2);
  word-wrap: break-word;
}

.highlight {
  color: whitesmoke;
}

.icon-container {
  position: absolute;
  right: 0;
  bottom: -3px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.todo-card:hover .icon-container {
  opacity: 1;
}

.lateral-icons-container {
  position: absolute;
  right: 2px;
  top: 5px;
  display: none;
  transition: all 0.5s;
}

.lateral-icons-container:hover {
  transform: scale(1.9);
  right: 4px;
  top: 1px;
}

.todo-card:hover .lateral-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-height {
  height: 8px;
}

.arrow-height svg {
  width: 20px;
}

svg {
  width: 13px;
  height: 13px;
  margin-left: 3px;
  fill: white;
  transition: fill 0.5s ease;
}

svg:hover {
  fill: #858585;
  cursor: pointer;
}

.left-icon {
  margin-right: 7px;
}

.right-icon {
  margin-left: 7px;
}

.modal-body svg {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: -11px;
  fill: white;
}

.modal-body svg:hover {
  fill: red;
}

.unedited {
  color: whitesmoke;
}

.edited {
  color: #13a9b7;
  transition: color 3s ease;
}

.add-column-button svg {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
}

.delete-column svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  right: 0;
  transform: translateX(-50%);
  font-size: 0.7rem;
  color: #13a9b7;
  opacity: 0;
}

.column-title:hover .delete-column svg {
  opacity: 1;
}

@media (max-width: 640px) {
  .column-list {
    flex-direction: column;
    align-items: center;
  }

  .header,
  body {
    overflow-x: hidden;
  }

  .add-column-button svg {
    margin: 0;
  }
}