@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #e4e4e4;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.root {
  background-color: #383838;
  display: flex;
}

.header {
  width: 100vw;
  background-color: #212121;
  font-size: 2rem;
  padding-left: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  text-align: center;
}

.column-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1rem;
}

.column {
  width: 300px;
  height: fit-content;
  background-color: #383838;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.column-title {
  margin: 8px 3px 13px 3px;
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-card {
  border-radius: 5px;
  background-color: #212121;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  box-shadow: 0 0 4px 1px #212121;
}

.todo-card h3 {
  font-size: 1.1rem;
  font-weight: 200;
  color: white;
}

.p-content-div p {
  margin: 2px 0 6px 0;
  font-size: 0.8rem;
  color: #9f9f9f;
}

.card-footer p {
  font-size: 0.7rem;
  color: #9f9f9f;
  margin: 0.2rem 0 0 0;
}

.card-footer {
  position: relative;
}

.p-content-div {
  border-bottom: 1px solid rgb(159, 159, 159, 0.2);
}

.highlight {
  color: whitesmoke;
}

.icon-container {
  position: absolute;
  right: 0;
  bottom: -5px;
  display: none;
}

.todo-card:hover .icon-container {
  display: block;
}

svg {
  width: 13px;
  height: 13px;
  margin-left: 3px;
  fill: white;
  transition: fill 0.5s ease;
}

svg:hover {
  fill: #9f9f9f;
  cursor: pointer;
}

.add-icon {
  position: absolute;
  top: 2px;
  right: 30px;
}

.add-icon svg {
  width: 20px;
  height: 20px;
}

.left-icon {
  margin-right: 7px;
}

.right-icon {
  margin-left: 7px;
}

.modal-body svg {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: -11px;
  fill: white;
}

.modal-body svg:hover {
  fill: red;
}