* {
  box-sizing: border-box;
}

.modal-dimmer {
  background-color: rgba(0, 0, 0, 0.31);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.modal-body {
  background-color: #383838;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  height: fit-content;
  padding: 8px;
  position: absolute;
  top: 25%;
  animation: pulse 2s infinite;
  z-index: 1;
}

.modal-inner {
  border-radius: 5px;
  background-color: #212121;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  box-shadow: 0 0 4px 1px #212121;
  gap: 4px;
  position: relative;
  z-index: 30;
}

.modal-column-title,
.modal-column-close {
  padding: 4px 8px 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #212121;
  font-size: 0.8rem;
  box-shadow: 0 0 2px 1px #212121;
  color: #13a9b7;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 2;
}

.modal-column-close {
  width: 36px;
  height: 36px;
}

.modal-column-title-border,
.modal-column-close-border {
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #383838;
  padding: 0.5rem 0.5rem 0 0.5rem;
  z-index: 2;
}

.modal-column-title-border {
  top: -23px;
  left: 20px;
}

.modal-column-close-border {
  top: -23px;
  right: 20px;
}

.modal-column-close svg {
  top: 12px;
  right: 16px;
}

.modal-inner h4 {
  text-align: center;
  margin: 5px 0 13px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.modal-footer {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

textarea,
input {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #383838;
  color: #888888;
  border: 0;
  outline: 0;
  padding: 0.5rem;
  box-shadow: 0 0 2px 2px #00000088 inset;
  transition: all 0.5s ease;
  resize: none;
}

input {
  height: auto;
}

input:first-of-type {
  margin-bottom: 2px;
}

textarea:focus,
input:focus {
  background-color: rgb(180, 180, 180);

  box-shadow: 0 0 4px 5px #15151571;
  color: #181818;
}

.time-stamp {
  font-size: 0.8rem;
  color: #565656;
}

.add-note {
  width: 50px;
  height: 30px;
  margin-right: 1px;
  border-radius: 5px;
  box-shadow: 0 0 4px 3px #15151571;
  background-color: #383838;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}

.add-note:hover {
  background-color: #888;
  color: #383838;
  cursor: pointer;
}

.add-note:disabled {
  background-color: rgba(43, 43, 43, 0.562);
  color: #383838;
  /* color: rgba(163, 0, 0, 0.582); */
  box-shadow: none;
  cursor: default;
}

.buttons-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.del {
  width: 35px;
  margin-right: 5px;
}

.del svg {
  position: absolute;
  left: 7.5px;
  top: 8px;
  width: 15px;
  height: 15px;
  fill: #212121;
}

.del:hover svg {
  fill: rgba(163, 0, 0, 0.745);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

input:disabled {
  background-color: transparent;
  box-shadow: none;
}

.title-char-counter,
.content-char-counter,
.creator-char-counter {
  position: absolute;
  right: 13px;
  top: 54px;
  font-size: 0.9rem;
  color: #565656;
  display: none;
  transition: all 0.5s ease;
}

.content-char-counter {
  right: 13px;
  top: 156px;
}

.creator-char-counter {
  right: 198px;
  top: 190px;
}

.user-title:focus+.title-char-counter,
.user-content:focus+.content-char-counter,
.user-creator:focus+.creator-char-counter {
  display: inline;
}

.counter-red {
  color: rgba(163, 0, 0, 0.582);
}

.counter-gray {
  color: #888;
}